#geolocalisation-map {
	position:absolute; 
	bottom:0;
	left:0;
	
	width:60%;
	height:calc(100% - 80px);
}

#geolocalisation-tab {
	position:absolute; 
	bottom:0;
	right:0;
	top: 150px;
	
	width:39%;
	height:calc(100% - 150px);
}

.selected-marker {
	background-position-x: -72px;
}

.selected-tr {
	background-color: #B9D991;
}