<script type="text/javascript"src="../js/header.js"></script>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
	      <a class="navbar-brand">Hotspots Paris Wifi</a>
	    </div>
	    <ul class="nav navbar-nav navbar-left">
	        <li id="map-link" class="active"><a href="#">
	        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Carte</a>
	        </li>
	        <li id="repartition-link"><a href="#">Repartition</a></li>
     	</ul>
	</div>
</nav>