<script type="text/javascript" src="../js/repartition.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<link rel="stylesheet" type="text/css" href="../css/repartition.css"/>

<div id="repartition"></div>

<div class="panel panel_default">
	<table id="tableau" class="table">
		<thead>
		    <tr>
		        <th>Nom du site</th>
		        <th>Adresse</th>
		       	<th>Nom du réseau (SSID)</th>
		    </tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
